* {
    overflow: hidden;
}

body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    border: 2px #000;
    margin-left: 10px;
    box-shadow: 15px 14px 5px #000;
}

.container__img {
    margin-left: 28px;
    margin-top: 15px;
    border-radius: 20px;
    box-sizing: border-box;
}

.container__span {
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 8px;
    gap: 10px;
}

.container__span__one {
    background-color: hsl(47, 88%, 63%);
    width: 80px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span {
    font-family: "Figtree", sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.container__span__two {
    font-family: "Figtree", sans-serif;
    color: hsl(0, 0%, 7%);
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-family: "Figtree", sans-serif;
    color: #000;
    font-size: 26px;
    margin-left: 28px;
}

h1:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

p {
    font-family: "Figtree", sans-serif;
    margin-left: 28px;
    color: hsl(0, 0%, 42%);
    font-size: 15px;
    margin-top: -2px;
    white-space: normal;
    word-wrap: break-word;
}

.container__txt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 14px;
}

.img__txt {
    width: 20%;
}

.span__txt {
    font-family: "Figtree", sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 320px) {
    .container__img {
        margin-left: 20px;
        width: 80%;
    }

}

@media (max-width: 375px) {
    .container__img {
        margin-left: 20px;
        width: 85%;
    }

}